[submodule "services/BoscoStay.ApartmentsManagement"]
	path = services/BoscoStay.ApartmentsManagement
	url = https://github.com/AshrafHosam/BoscoStay.ApartmentsManagement
[submodule "services/BookingServer"]
	path = services/BookingServer
	url = https://github.com/MeriemBchini/BookingServer
[submodule "services/service-java"]
	path = services/service-java
	url = https://github.com/kadambari25/BoscoStay.SearchService
[submodule "services/BoscoStay.SearchService"]
	path = services/BoscoStay.SearchService
	url = https://github.com/kadambari25/BoscoStay.SearchService
